h1 {
    size: 20px;
    color: rgb(61, 60, 61);
    text-align: center;
}
  
/* link */
/* a:hover {
    text-decoration: underline;
    color: purple;
} */

p {
    padding: 5px;
    margin: 5px;
}

p.home {
    float: left;  /* show multiple in one line*/
    padding: 5px;
}

div.title {
    margin: 5px;
    border: 1px solid #ccc;
    border-style: dotted;
    padding: 10px;
    float: left;
    width: 100%;
    height: 420px;
}
  
div.discHead {
    padding: 5px;
    text-align: left;
    font-weight: bold;
}

div.discDetail {
    padding: 5px;
    text-align: left;
}
  

p.subtitle {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

p.descDetail {
    font-size: 15px;
    color: rgb(62, 60, 60);
}

.image {
    width: 240px;
    height: 240px;
    margin: 20px;
    padding: 20px;   
    display: inline-block;

}

div.image img {
    /* width: 100%;
    height: 150px;
    border-radius: 100px; */
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    align-content: center;
  }

#head_link_block {
    width: 1000px;
    height: 50px;
}

#contact_block {
    width: 500px;
    height: 500px;
    margin: 50px;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 50px 5px rgb(124, 120, 120);
    display: inline-block;
    overflow: hidden;
    align-items: center;
}


#form_block {
    width: 400px;
    height: 400px;
    margin: 50px;
    padding: 20px;
    align-items: center;
}

#form_block label {
    width: 80px;
    height: 30px;
    display: inline-block;
    color: #000;
    font-weight: bold;
    font-size: medium;
    margin: 10px;
    margin-bottom: 20px;
    /* padding: 50px; */
}

#form_block input, textarea {
    width: 200px;
    height: 30px;
    display: inline-block;
    background-color: beige;
    border: 1px solid black;
    border-radius: 2px;
    /* margin: 20px; */
    /* padding: 50px; */
}

#form_block textarea {
    height: 100px;
}

#form_block button {
    width: 310px;
    height: 30px;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    color: rgb(243, 239, 239);
    background-color: rgb(3, 120, 14);
    border: 1px solid black;
    border-radius: 5px;
}

#dog_block {
    width: 1000px;
    height: 500px;
    margin: 20px;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 50px 5px rgb(124, 120, 120);
    display: inline-block;
    overflow: hidden;
}

#dog_detail {
    width: 650px;
    height: 300px;
    align-items: center;
    /* position: relative; */
    /* display: inline-block; */
    margin: 20px;
    float: left;
}

#dog_img {
    width: 300px;
    float: right;
    margin-top: 50px ;
    margin-right: 10px;
}

#dog_img img{
    width: 100%;
    display: block;
}

table, td {
    border-collapse: collapse;
    padding: 10px;
}

table {
    width: 100%;
    align-items: center;
    border: 1px solid rgb(148, 146, 146);
}

td {
    width: 10%;
    height: 50px;
    font-weight: bold;
    background-color: #fafafa;
    border: 1px solid rgb(148, 146, 146);
}

td.desc {
    width: 70%;
    height: auto;
    border: 1px solid rgb(251, 253, 253);
}

.detail {
    display: grid;
    list-style-type: none;
    padding-left: 20px;
}



ul.detail li {
    background: url('/image/dogpaw.png') 0px 0px no-repeat; 
    padding-left: 50px;
    font-size: small;
    color: #1c1c1c;
    margin: 5px;
}